.add a {
  border: 1.5px solid rgba(0, 0, 0, 0.49);
  border-radius: 15px;
  padding: 7px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 200px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
}

.img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {

  .add a {
    width: 300px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}
