.add a {
    border: 1.5px solid rgba(0, 0, 0, 0.49);
    border-radius: 15px;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 150px;
    color:  rgba(0, 0, 0, 0.50);
    font-weight: bold;
  }
  
  .landing {
    padding: 18px;
    margin-top: 20px;
  }
  
  .img1 {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
   
    .landing {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .add a {
      width: 450px;
    }
  }