body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  width: 100%;
  font-family: monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  /* display: flex; */
  font-size: 36px;
}

header {
  background-color: rgba(189, 236, 230, 0.74);
  padding: 10px;
  margin-bottom: 45px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  border: 1.5px solid rgba(0, 0, 0, 0.49);
  border-radius: 15px;
  padding: 6px;
  margin: 2px;
  color: rgba(0, 0, 0, 0.49);
  text-decoration: none;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
}

.landing {
  display: flex;
  justify-content: space-around;
  padding: 14px;
}

.img1 {
  width: 100%;
  height: 100%;
}
footer {
  font-size: large;
  width: 100%;
  height: 100px;
  background-color: rgba(137, 210, 201, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}


@media (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: nowrap;
    font-size: x-small;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    padding: 5px;
    margin: 2px;
  }

  footer {
      position: relative;
      margin-top: 50px;
  }

  .landing {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}